<h4>Internal server error - refreshing the page makes error go bai bai</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger"> Error: {{error.message}}</h5>
    <p class="font-weight-bold"> Note: If you see this, angular is not to blame.</p>
    <p>What to do next?</p>
    <ol>
        <li>Open chrome dev tools! Then check the failing request in the network tab.</li>
        <li>Examine the request URL - what API endpoints are you requesting, are they accurate?</li>
        <li>Reproduce the problem in Postman - if we get the same error, angular is 100% not the problem.</li>
    </ol>
    <p style="font-weight: bold;">Following is the stack trace, to check which few lines causes the error.</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>
