<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <app-text-input [formControl]="$any(registerForm.controls['username'])"
                    [label]="'username'">
    </app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])"
                    [label]="'password'"
                    [type]="'password'">
    </app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])"
                    [label]="'confirmPassword'"
                    [type]="'password'">
    </app-text-input>

    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button (click)="cancel()" class="btn btn-info" type="button">Cancel</button>
    </div>
</form>

